body {
    font-size: 2vw;
    font-family: MyFontMML;
    color: black;
    background-repeat: no-repeat;   background-attachment: fixed;   background-position: center;
    /* background-image: url(../assets/images/bg55.jpg); */
    background-image: url(https://cdn.kibrispdr.org/data/background-power-point-bunga-sakura-0.jpg);
    background-size: cover;
    font-weight: bold;
}
@font-face {
    font-family: MyFontMML;
    src: url(../assets/font/FC_Marshmallow_Brush_Regular.otf);
 }
.main {
    width: 100%;
    height: auto;
    text-shadow: 0px 0px 10px #ffffff;
    letter-spacing:1.5px;
}

.about {
    width: 100%;
    height: 20vw;
    /* background-color: blueviolet; */
    min-height: 200px;
}
.data{
    width: 70%;
    height: 65vw;
}

.space1{
    width: 25%;
    height: 65vw;
    /* background-color: aquamarine; */
}
.space2{
    width: 5%;
    height: 65vw;
    /* background-color: aquamarine; */
}
.analyzia{
    width: 100%;
    height: auto;
    /* background-color: brown; */

}
.friendzone{
    width: 100%;
    height: auto;
    /* background-color: burlywood; */
}
.contact{
    width: 100%;
    height: 20vw;
    /* background-color: cornflowerblue; */
}
.head{
    font-size: 4vw;
    font-family: MyFontMML;
    font-family: FreesiaUPC;
}
.topic{
    font-family: FreesiaUPC;
    font-weight: bolder;
    font-size: 2.5vw;
}